/* sub_purchase_side.module.css */

/* 전체 레이아웃 스타일 */
.purchase_tradeMethod_container {
  padding: 50px;
}

.purchase_tradeMethod_container h2 {
  width: 230px;
  padding-bottom: 50px;
}

/* 거래 방법 선택 */
.direct, .delivery {
  padding: 20px;
  width: 100%;
  height: 170px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.direct.selected, .delivery.selected {
  border-color: black; /* 선택된 거래 방법의 테두리 색상 */
}

.purchase_next {
  width: 100%;
  padding: 20px ;
  border-radius: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
}

/* 구매 사이드 바 컨테이너 */
.purchase_container {
  box-sizing: border-box;
  padding: 50px 30px;
}

.purchase_container img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.purchase_productInfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.purchase_container .purchase_price {
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.purchase_side hr {
  border: 3px solid #F1F4F6;
}

.buyer_address {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  height: 250px;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
}

.buyer_address h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.change_address {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #F1F4F6;
  height: 40px;
  width: 60px;
  border: none;
  cursor: pointer;
}

/* 결제 방법 선택 */
.buyMethod {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.buyMethod_container {
  padding: 30px;
}

.buyMethod_container h2 {
  margin-bottom: 20px;
}

.buyMethod_container span {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 365px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.buyMethod span.selected {
  border-color: black; /* 선택된 결제 방법의 테두리 색상 */
}

/* 결제 금액 */
.payment_amount {
  padding: 30px;
  position: relative;
}

.last_price {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.last_price_container {
  margin-bottom: 80px;
}

.payment_amount button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* 사이드 바 스타일 */
.purchase_side, .tradeMethod_side ,.address_side, .edit_side, .addAddressSide{
  position: fixed;
  top: 0;
  right: 0;
  width: 800px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateX(100%);
  opacity: 0;
  box-sizing: border-box;
}


.purchase_side.open, .tradeMethod_side.open, .address_side.open, .edit_side.open, .addAddressSide.open{
  transform: translateX(0);
  opacity: 1;
}

.purchase_side .x, .tradeMethod_side .x {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.address_side{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.addressBack{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25px;
  left: 20px;
  cursor: pointer;
}

.address_side , .edit_side, .addAddressSide{
  padding: 20px;
}

.address_side h2 , .edit_side h2, .addAddressSide h2{
  text-align: center;
}

.address_side h2 ,.edit_side h2, .addAddressSide h2{
  margin-bottom: 70px;
}

.addressEdit{
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 60px;
  right: 30px;
  gap: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.addressEdit img {
  width: 20px;
  height: 20px;
}

.addressInfo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 230px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  box-sizing: border-box;
}

.addAddress{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px dashed #ccc;
  font-size: 16px;
  cursor: pointer;
}

.editSubmit{
  position: absolute;
  bottom: 30px;
  width: 760px;
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.editBtn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.editBtn button{
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: white;
  cursor: pointer;
}

.editBtn span{
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: black;
}

.editInfo{
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.mainAddressContainer{
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.mainAddress{
  width: 50px;
  padding: 5px 0px;
  text-align: center;
  font-size: 10px;
  left: 90px;
  border: 1px solid green;
  color: green;
}

.addressInfo.selected {
  border-color: black;
}

.buyer_address_info{
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}


.addAddressInfo input{
  width: 100%;
  margin: 10px 0px;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
}

.postcode_side {
  position: fixed;
  top: 0;
  right: 0;
  width: 800px; /* 사이드 바의 너비를 조정하세요 */
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* 사이드 바를 화면 바깥으로 위치시킵니다 */
  z-index: 1000;
}

.postcode_side.open {
  transform: translateX(0); /* 사이드 바를 화면에 보이도록 이동합니다 */
  height: 100%;
}

.close_button {
  position: absolute;
  top: 17px;
  left: 12px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.postcode_side img{
  width: 25px;
  height: 25px;
}

.no_address p{
  font-size: 20px;
}

.no_address{
  height: 250px;
  padding: 50px 30px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.errorMessage{
  margin-left: 10px;
  color: red;
}

.subSideModal {
  position: fixed;
  width: 400px;
  background-color: #4C4C4C;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  right: calc(50% - 175px);
  color: white;
  bottom: -200px;
  right: 170px;
  transition: bottom 1s ease-in-out;
  z-index: 1001;
}

.subSideModal.show {
  bottom: 100px;
}

.mainAddressColor{
  color: #ccc;
}