* {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.subPageContainer {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  zoom: 0.75; /* 75% 크기로 축소 */
  background-color: white;
}

.subPageMain {
  margin-top: 180px;
  width: 1440px;
  display: flex;
  flex-flow: row wrap;
  gap: 110px;
}

.productMainImg {
  display: flex;
  flex-flow: row nowrap;
}

.productMainImg > img {  
  border-radius: 20px;
}

.arrow a {
  width: 50px;
  height: 50px;
}

.productMainImgContainer {
  margin-left: 100px;
  position: relative;
  width: 500px;
  height: 550px;
  margin-top: 50px;
}

.productMainImgMove {
  overflow: hidden;
  width: 500px;
  height: 550px;
}

.productMainImg > img {
  width: 500px;
  height: 550px;
}

.leftArrow {
  width: 50px;
  position: absolute;
  left: -60px;
  top: calc(50% - 50px);
}

.rightArrow {
  width: 50px;
  position: absolute;
  left: 510px;
  top: calc(50% - 50px);
}

.sliderDot {
  position: absolute;
  left: 240px;
  bottom: -40px;
  transform: translateX(-50%);
}

.sliderDot .dot {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
  margin: 0px 5px;
}

.dot.active {
  background-color: gray;
}

.hrContainer {
  position: relative;
  width: 100%;
}

.hrContainer hr {
  width: 100%;
  position: absolute;
  top: 705px;
  z-index: 500;
}

.imageSale{
  opacity: 0.4;
}

.productSaleStatus{
  position: absolute;
  color: white;
  font-size: 80px;
  top: 200px;
  left: 100px;
} 