html {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

*{
  margin: 0;
  padding: 0;
}