.side_bar_container {
  width: 300px;
  margin: 0px 50px;
}

.side_bar_my_page {
  margin: 20px 0px;
}

.side_bar_ul {
  display: flex;
  flex-flow: column nowrap;
  text-decoration-line: none;
}

.side_bar_li {
  list-style-type: none;
  padding: 20px 0px;
}

.side_bar_ul .side_bar_li .side_bar_item {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.side_bar_my_page {
  border-bottom: 1px solid black;
  font-size: 32px;
  font-weight: bold;
}

.side_bar_my_store {
  background-image: url('/public/img/mypage/store.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_my_info {
  background-image: url('/public/img/mypage/info.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_buy_history {
  background-image: url('/public/img/mypage/buy.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_sell_history {
  background-image: url('/public/img/mypage/sell.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_interest_product {
  background-image: url('/public/img/mypage/interest.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_writed_review {
  background-image: url('/public/img/mypage/writed_review.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_received_review {
  background-image: url('/public/img/mypage/received_review.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.side_bar_follow_list {
  background-image: url('/public/img/mypage/follow.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}