@font-face {
  font-family: 'GodoM';
  src: url('../../../../../public/fonts/GodoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://rsms.me/inter/inter-ui.css');

::selection {
  background: #2D2F36;
}

::-webkit-selection {
  background: #2D2F36;
}

::-moz-selection {
  background: #2D2F36;
}

.emergeText {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  animation: slide 12s ease forwards;
  transform: translate(0, 0);
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
}

@keyframes slide {
  0% {    
    filter: blur(80px);
    opacity: 0;
  }
  10%{
    opacity: 0.8;
  }
  15% {
    filter: blur(0);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.registerFormPage {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  width: 100%;
}

@media (max-width: 767px) {
  .registerFormPage {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.registerFormContainer {
  display: flex;
  height: 550px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .registerFormContainer {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.registerFormLeft {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .registerFormLeft {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 550px;
  }
}

.registerFormTitle {
  font-family: 'Inter-UI', sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  opacity: 0;
}

.registerFormRight {
  background: #000000;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .registerFormRight {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 650px;
  }
}

.registerFormRight svg {
  position: absolute;
  width: 320px;
}

.registerFormInput {
  margin: 40px;
  position: absolute;
}

.registerFormInputBox {
  border: solid transparent;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #2D2F36, #fff) 1 / 0 0 1px 0;
}

.registerFormInput label {
  color: #CCCCCC;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.registerFormInputField {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  box-sizing: border-box;
  padding: 3px 7px 0px 7px;
}

.registerFormInput input::-moz-focus-inner { 
  border: 0; 
}

.registerFormInput input:focus, .loginFormInput input:active {
  background: #000000;
  color: #f2f2f2;
}

.registerFormInput input:-webkit-autofill {
  background: #000000 !important;
  color: #f2f2f2 !important;
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important;
  -webkit-text-fill-color: #f2f2f2 !important;
}

.registerFormErrorText {
  color: white;
  font-size: 10px;
  line-height: 12px; 
  height: 12px;
  visibility: hidden;
  margin: 4px 7px 0 7px;    
  display: block;
}

.registerFormSSN {
  display: flex;
  flex-flow: nowrap row;
}

.registerFormInputFieldShort {
  width: 15%;
}

.filledCirclesShort {
  width: 85%;
  margin-bottom: 0; 
}

.registerFormDash {
  padding: 0 5px;
}

.registerFormPNo {
  display: flex;
  flex-flow: nowrap row;
}

.registerFormInputField option {  
  font-size: 14px;
  background-color: black;
  padding: 8px 10px;
  line-height: 1.6;
}

.registerFormButton {
  background: transparent;
  height: 30px;
  line-height: 30px;
  border: 0;
  font-size: 20px;  
  outline: none !important;
  width: 100%;
  color: #CCCCCC;
  margin-top: 35px;
  transition: color 300ms, text-shadow 300ms;
  cursor: pointer;
}

.registerFormButton:hover {
  color: #FFFFFF !important;
}


