.my_store_side_container {
  width: 1000px;
  display: flex;
  margin: 200px auto;
}

.my_store_main_container {
  width: 70%;
}

.my_store_profile_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 32px;
  margin: 20px 0px;
}

.my_store_profile_image {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.my_store_avg_score {
  color: #FFD700;
  margin: 5px;
}

.my_store_nav_container .my_store_nav_ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 24px;
  padding: 0px;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li {
  width: 200px;
  border-bottom: 1px solid black;
  list-style-type: none;
  text-align: center;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li:hover {
  border-bottom: 1px solid red;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li .my_store_nav_item {
  color: black;
  text-decoration: none;
}

.my_store_product_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px;
}

.my_store_product_list {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #CCCCCC;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.my_store_product_image {
  width: 100%;
  height: 200px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-bottom: 10px;
}

.my_store_product_price {
  font-weight: bold;
}

.my_store_product_detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
}

.my_store_nothing {
  width: 100%;
  font-size: 48px;
  text-align: center;
  margin: 100px 0px;
}