* {
  margin: 0px;
  padding: 0px;
}

.interest_product_header_container {
  width: 1440px;
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
}

.interest_product_side_container {
  display: flex;
}

.interest_product {
  display: flex;
  font-size: 24px;
  padding: 20px 0px;
}

.interest_product_container {
  width: 700px;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px;
}

.interest_product_list {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #CCCCCC;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}

.interest_product_image {
  width: 300px;
  height: 200px;
}

.interest_product_detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
}

.interest_product_no_interest {
  width: 700px;
  font-size: 64px;
  text-align: center;
  margin: 100px 0px;
}

.interest_product_banner {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 20px 50px;
}