* {
  margin: 0px;
  padding: 0px;
}

.my_store_header_container {
  width: 1440px;
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
}

.my_store_side_container {
  display: flex;
}

.my_store_profile_container {
  width: 700px;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 0px;
  font-size: 24px;
}

.my_store_profile_image {
  width: 48px;
  height: 48px;
}

.my_store_score {
  color: red;
  margin: 5px;
  
}

.my_store_no_nick {
  margin: 5px;
}

.my_store_nav_container .my_store_nav_ul {
  width: 700px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 24px;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li {
  width: 200px;
  border-bottom: 1px solid black;
  list-style-type: none;
  text-align: center;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li:hover {
  border-bottom: 1px solid red;
}

.my_store_nav_container .my_store_nav_ul .my_store_nav_li .my_store_nav_item {
  color: black;
  text-decoration: none;
}

.my_store_product_container {
  width: 700px;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px;
}

.my_store_product_list {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #CCCCCC;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}

.my_store_product_image {
  width: 300px;
  height: 200px;
}

.my_store_product_detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
}

.my_store_no_product {
  width: 700px;
  font-size: 64px;
  text-align: center;
  margin: 100px 0px;
}

.my_store_banner {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 20px 50px;
}