* {
  margin: 0px;
  padding: 0px;
}

.my_info_header_container {
  width: 1440px;
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
}

.my_info_side_container {
  display: flex;
}

.my_infomation {
  display: flex;
  font-size: 24px;
  padding: 20px 0px;
}

.my_info_main_container {
  width: 700px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.my_info_content {
  width: 500px;
  margin: 5px 0px;
}

.my_info_profile_container1 {
  width: 500px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 0px;
}

.my_info_profile_container2 {
  margin-left: 5px;
}

.my_info_profile_guide {
  color: #9C9E9C;
  font-size: 12px;
  margin: 5px 0px;
}

.my_info_asterisk {
  color: red;
}

.my_info_register_button, .my_info_delete_button {
  width: 50px;
  border: 1px solid black;
  background-color: white;
  color: black;
  margin: 0px 5px;
}

.my_info_item {
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  margin: 10px 0px;
}

.my_info_email_item {
  width: calc(215px - 20px);
  height: 30px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  margin: 10px 0px;
}

.my_info_button_container2 {
  margin: 10px 0px;
}

.my_info_update_button {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.my_info_withdrawal_button {
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 24px;
}

.my_info_banner {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 20px 50px;
}