* {
  margin: 0px;
  padding: 0px;
}

.header_container {
  width: 1440px;
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
}

.side_container {
  display: flex;
}

.my_profile {
  width: 300px;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-image: url('/public/img/mypage/profile.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 60px;
  margin: 20px 0px;
  font-size: 24px;
}

.my_score {
  color: red;
}

.nav_container .nav_ul {
  width: 700px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 24px;
}

.nav_container .nav_ul .nav_li {
  width: 200px;
  border-bottom: 1px solid black;
  list-style-type: none;
  text-align: center;
}

.nav_container .nav_ul .nav_li:hover {
  border-bottom: 1px solid red;
}

.nav_container .nav_ul .nav_li .nav_item {
  color: black;
  text-decoration: none;
}

.my_products {
  width: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.banner {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 0px 50px;
}