.nav_container {
  width: 300px;
  margin: 0px 50px;
}

.nav_ul {
  display: flex;
  flex-flow: column nowrap;
  text-decoration-line: none;
}

.nav_li {
  list-style-type: none;
  padding: 20px 0px;
}

.nav_ul .nav_li .nav_item {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.my_page {
  border-bottom: 1px solid black;
  font-size: 32px;
  font-weight: bold;
}

.my_store {
  background-image: url('/public/img/mypage/store.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.my_info {
  background-image: url('/public/img/mypage/info.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.buy_history {
  background-image: url('/public/img/mypage/buy.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.sell_history {
  background-image: url('/public/img/mypage/sell.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.like_product {
  background-image: url('/public/img/mypage/like.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.writed_review {
  background-image: url('/public/img/mypage/writed_review.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.received_review {
  background-image: url('/public/img/mypage/received_review.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.follow_list {
  background-image: url('/public/img/mypage/follow.png');
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}