.adminHeaderContainer {
  width: 1440px;
  margin: 0 auto;
}

.adminHeader {
  color: white;
}

.adminHeaderTop {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #393B3F;
  font-size: 24px;
}

.adminHeaderBottom {
  font-size: 16px;
  background-color: #494B50;
  padding: 6px 0;
}

.adminHeaderLeftSection, .adminHeaderRightSection {
  display: flex;
  align-items: center;
  height: 100%;
}

.adminHeaderLogo {
  margin-right: 20px;
}

.adminHeader img {
  height: 50px;
}

.adminHeaderBottom a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-right: 1px solid #000000;
  align-items: center;
  height: 100%;
  transition: text-shadow 0.3s ease, box-shadow 0.3s ease;
}

.adminHeaderBottom a:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.adminHeaderBottom a:last-child {
  margin-right: 0;
}

.adminHeaderRightSection a {
  margin-left: 20px;
  color: #9C9E9C;
  text-decoration: none;
  font-size: 14px;
}

.adminHeaderRightSection .adminHeaderLogoutLink {
  color: red;
}