.chat_side {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateX(100%);
  opacity: 0;
}

.chat_side .x{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.chat_side.open {
  transform: translateX(0);
  opacity: 1;
}

.chat_side_header h2{
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #ccc;
}

.chat_list_sub{
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat_list{
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
}

.chat_list img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.chat_list p {
  font-size: 20px;
}