/* CategorySelector.module.css */
.categorySelect {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customDropdown {
  position: relative;
  width: 100%;
}

.dropdownHeader {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  max-height: 200px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 추가 */
  z-index: 1000;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
}
