/* CategorySelector.module.css */
.category {
  width: 100%;
  display: flex;
  flex: row;
}

.customDropdown {
  position: relative; /* Position relative to ensure correct positioning */
  width: 30%;
}

.dropdownHeader {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 13px;
  color: black;
}

.dropdownList {
  width: 100%; /* Full width of the parent container */
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  max-height: 200px; /* Limit height */
  overflow-y: auto; /* Scroll if needed */
  margin-top: 0px;
  padding-left: 0;
  font-size: 14px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}